{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--/.header-->
<section class="cd-hero">
    <ul class="cd-hero-slider autoplay">
        <!-- 
            <ul class="cd-hero-slider autoplay"> for slider auto play 
            <ul class="cd-hero-slider"> for disabled auto play
        -->

        {% for header in headers%}

        <li class="{% if header1 == header %} selected {% endif %} first-slide"
            style="background-image : url({% static header.image %})">
            <div class="cd-full-width">
                <div class="tm-slide-content-div slide-caption">

                    <h2>{{header.main_header}}</h2>
                    <p>{{header.sub_header}}</p>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="about">اكتشف المزيد</a>
                    </div>
                </div>
            </div> <!-- .cd-full-width -->
        </li>


        {% endfor %}


        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>

                <ul>
                    <li class="selected"><a href="#0"></a></li>
                    <li><a href="#0"></a></li>
                    <li><a href="#0"></a></li>
                </ul>
            </nav>
        </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->

<div id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>من نحن</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-stretch service">
            {% for about in aboutUs %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item {{ about.avatar }}-service">
                    <div class="icon"></div>
                    <h4>{{about.main_header}}</h4>
                    <p>{{about.sub_header}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="what-we-do">
    <div class="container">
        <div class="d-flex flex-row-reverse">
            <div class="col-md-6">
            <div style="min-height: 85px;">
                    <div class="composition " >

                        <img srcset="https://images.unsplash.com/photo-1478147427282-58a87a120781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80 300w, https://images.unsplash.com/photo-1478147427282-58a87a120781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 1"
                             class="composition__photo composition__photo--p1"
                             src="https://images.unsplash.com/photo-1478147427282-58a87a120781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">

                        <img srcset="https://images.unsplash.com/photo-1437603568260-1950d3ca6eab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80 300w, https://images.unsplash.com/photo-1437603568260-1950d3ca6eab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 2"
                             class="composition__photo composition__photo--p2"
                             src="https://images.unsplash.com/photo-1437603568260-1950d3ca6eab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">

                        <img srcset="https://images.unsplash.com/photo-1496282061992-d6a3994128a2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1398&q=80 300w, https://images.unsplash.com/photo-1496282061992-d6a3994128a2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1398&q=80 1000w"
                             sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                             alt="Photo 3"
                             class="composition__photo composition__photo--p3"
                             src="https://images.unsplash.com/photo-1496282061992-d6a3994128a2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1398&q=80">

                        <!--
                        <img src="img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                        <img src="img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                        <img src="img/nat-3-large.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
                        -->
                
                </div>
            </div>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    <h4>رسالتنا اليكم <br>

                    </h4>
                    <p>
                        نحن شباب الزلفي " قمنا بتأسيس هذه المبادرة الخيّرة لا لشي ا لا لنيل الأجر والثواب من الله اولاً
                        و اخيراً ، وان نقدم ما نستطيع فعلة لبلدنا خاصة وللأمة الإسلامية عامة من تغير وغرس قيم ديننا
                        الحنيف التي تحثنا
                        على الرقي وعيش حياة سعيدة كريمة تسودها الرحمة والألفة والإخاء والمحبة والعدل والإحسان
                        <br>
                    <h4>
                        رؤيتنا
                    </h4>

                    <br>



                    نهضة أمة تبدأ من فرد لذا – نحن – نسعى الى تطوير مجتمعنا من خلال إيجاد جيل من الشباب المتسلح بالعلم
                    والمهارات لنهضة أمته
                    </p>
                    <!-- <ul>
                        <li>
                            <div class="white-button">
                                <a href="#" class="scroll-link" data-id="portfolio">Discover More</a>
                            </div>
                        </li>
                        <li>
                            <div class="primary-button">
                                <a href="#">Purchase Now</a>
                            </div>
                        </li>
                    </ul> -->
                </div>
            </div>

        </div>
    </div>
</div>


<div id="portfolio" class="page-section">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>أعمالنا </h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
            </div>
            <div class="projects-holder-3">
                <div class="filter-categories">
                    <ul class="project-filter">
                     <li class="filter" data-filter="all"><span>الكل</span></li>
                        {% for p in ourPortfolio %}
                       
                        <li class="filter" data-filter="{{p.name}}"><span>{{p.name}}</span></li>
            
                        {% endfor %}
                    </ul>
                </div>
                <div class="projects-holder">
                    <div class="row">
                       {% for p in ourPortfolio %}
                       {% for image in p.image.all  %}
                        <div class="col-md-3 col-sm-6 project-item mix {{p.name}}">
                            <div class="thumb">
                                <div class="image">
                                    <img src="{% static image %}">
                                </div>
                                <div class="hover-effect">
                                    <a href="{% static image %}" data-lightbox="image-1"><i
                                            class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                     {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="blog" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>الأخبار</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row text-right">
            {% for new in news %}
            <div class="col-md-6">
                <div class="blog-item b1">
                    <div class="thumb">
                        <img src="{% static new.image %}"
                            class="{% if new.hight == 'عرض كبير' %} larg-img {% else %}  small-img  {% endif %} "
                            alt="">
                        <div class="text-content">
                            <h4>{{new.main_header}}</h4>
                           <span style="color: antiquewhite;">   التاريخ: <em>{{new.date}}</em> </span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
    </div>
</div>

<div id="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="926">0</div>
                    <span>Regular Visitors</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="214">0</div>
                    <span>Finished Projects</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="118">0</div>
                    <span>Happy Clients</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="fact-item">
                    <div class="counter" data-count="16">0</div>
                    <span>Total Awards</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="contact" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>تواصل معنا</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="map">
                    <img src="https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <form id="contact" action="" method="post" style="text-align: right;">
                        <div class="col-md-6">
                            <fieldset>
                                <input name="name" style="text-align: right;" type="text" class="form-control" id="name" placeholder="... اسمك"
                                    required="">
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <input name="email" style="text-align: right;" type="email" class="form-control" id="email"
                                    placeholder="... ايميلك" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <textarea name="message" style="text-align: right;" rows="6" class="form-control" id="message"
                                    placeholder="... رسالتك " required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="btn">ارسل</button>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}